@using Microsoft.AspNetCore.Identity
@using BakeNChew.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span id="manage" class="nav-link nav-link" @*asp-area="Identity" asp-page="/Account/Manage/Index" *@
            title="Manage">Hello @UserManager.GetUserName(User)!</span>
        </li>
        @* <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
            asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit"
            class="nav-link nav-link bg-primary text-decoration-none border-0">Logout</button>
            </form>
            </li> *@

        <li class="nav-item">
            <a class="nav-link nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        @* <li class="nav-item">
            <a class="nav-link nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li> *@
        <li class="nav-item">
            <a class="nav-link nav-link" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        @* <li class="nav-item">
            <a class="nav-link nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li> *@
        <li class="nav-item">
            <a class="nav-link nav-link" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
