@{
    ViewData["Title"] = "About Us";
}

<div class="aboutUs-about-section">
    <h1>About Us </h1>
    <p>Cake is often served as a celebratory dish on ceremonial occasions,
        such as weddings, anniversaries, and birthdays. There are countless cake recipes;
        some are bread-like, some are rich and elaborate, and many are centuries old.
        Cake making is no longer a complicated procedure; while at one time considerable labor
        went into cake making (particularly the whisking of egg foams), baking equipment and directions
        have been simplified so that even the most amateur of cooks may bake a cake.</p>

</div>
<h2 style="text-align:center">Our Team</h2>
<div class="aboutUs-row container text-center bg-light d-flex justify-content-center">
    <div class="aboutUs-column align-items-center">
        <div class="aboutUs-card">
            <img src="~/images/avatar.png" alt="Jane" style="width:100%">
            <div class="aboutUs-container">
                <h2>Jane Doe</h2>
                <p class="aboutUs-title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="aboutUs-button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="aboutUs-column">
        <div class="aboutUs-card">
            <img src="~/images/avatar.png" alt="Mike" style="width:100%">
            <div class="aboutUs-container">
                <h2>Mike Ross</h2>
                <p class="aboutUs-title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="aboutUs-button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="aboutUs-column">
        <div class="aboutUs-card">
            <img src="~/images/avatar.png" alt="John" style="width:100%">
            <div class="aboutUs-container">
                <h2>John Doe</h2>
                <p class="aboutUs-title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="aboutUs-button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
